<form method="post" action="{{ path('reservation_modifier', {'idreservation': reservations.getIdreservation()}) }}" onsubmit="return confirm('Voulez vous vraiment confirmer cette reservations?');">
    <input type="hidden" name="_token" value="{{ csrf_token('modifier' ~ reservations.getIdreservation()) }}">
    <span class="icon text-white-50">

    <button class="btn btn-success btn-icon-split">Confirmé cette reservation</button>
                                                </span>


</form>
