

.inputM{
    text-align: center;
    margin: 100px auto;
}

inputM[type="submit"]{
    padding: 15px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
}

.inputM inputM[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
}



.closeM{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
}

