{% extends 'baseBackthe.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block container %}
    <h1>Edit Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evenement_index') }}">back to list</a>

{% endblock %}
