{% extends 'base.html.twig' %}

{% block title %}Edit Payments{% endblock %}

{% block body %}
    <h1>Edit Payments</h1>

    {{ include('payments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('payments_index') }}">back to list</a>

    {{ include('payments/_delete_form.html.twig') }}
{% endblock %}
