{% extends 'basebackthe.html.twig' %}

{% block title %}New Reco{% endblock %}

{% block container %}
    <h1>Create new Reco</h1>

    {{ include('reco/_form.html.twig') }}

    <a href="{{ path('reco_index') }}">back to list</a>
{% endblock %}
